.stop-scrolling {
  overflow: hidden;
}

.mobile-menu-list li {
  font-size: 1.2rem;
  font-weight: 600;
}

.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  height: 100%;
}

.nav-link a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
}

.nav-link a:hover::after {
  transform: translateX(-50%) scaleX(1);
}