@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: black;
}

.dark-gray {
  color: red;
}

.very-dark-gray {
  color: hsl(0, 0%, 27%);
}